<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TPPAV.My.MySettings.TppavConnectionString" connectionString="Data Source=localhost\MSQLSERVER;Initial Catalog=Tppav;Persist Security Info=True;User ID=sa;Password=dijstra"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>